extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
block main
    +alert-success("5000")
    +alert-error('5000')

    h1 #{pageTitle}

    .card.mb-3 
        .card-header Bộ lọc và tìm kiếm 
        .card-body 
            .row
                .col-6
                    +filterStatus(filterStatus)
                .col-6 
                    +search(keyword)

       
               
    .card.mb-3 
        .card-header Danh sách
        .card-body 
            .row
                .col-6
                    form(
                        action=`${prefixAdmin}/product/change-multi?_method=PATCH`
                        method ="POST"
                        form-change-multi
                    ) 
                        .d-flex.align-items-start
                            .form-group
                                select(name="type" class="form-control" ) 
                                    option( disabled selected="selected") ----Chọn hành động----
                                    option(value="active") Hoạt động 
                                    option(value="inactive") Dừng hoạt động
                                    option(value="delete") Xóa tất cả
                                    option(value="change-position") Thay đổi vị trí2

                            .form-group
                                input(type="text" name="ids" value="" class=" form-control d-none" )
                            button(type="submit" button-change-multi class="btn btn-success") Áp dụng
                .col-6
                    a(href=`${prefixAdmin}/product/create` button-create-product class="btn btn-outline btn-success") + Tạo thêm 
        .card-body 
        table.table.table-hover.table-sm
            thead 
                tr 
                    th 
                        input(type="checkbox" check-box-all)
                    th STT 
                    th Hình ảnh 
                    th Tiêu đề
                    th Giá
                    th Vị trí
                    th Trạng thái 
                    th Hành động 
            tbody 
                each item,index in listProduct
                    tr 
                        td 
                            input(type="checkbox" id = item.id name=item.title check-box-id)
                        td #{index+1}
                        td 
                            img(src=item.thumbnail, alt=""
                                width="100px", height="auto"
                            )
                        td #{item.title}
                        td #{item.price}
                        td 
                            input(type="number"
                                data-position= item.position 
                                input-position
                                min=1
                                value= item.position
                                style="width:50px"
                                
                            )
                        td 
                            if(item.status == "active")
                                a(href="javascript:;" 
                                class="badge badge-success"
                                data-status= item.status 
                                id= item.id
                                button-change-status
                                ) active
                            if(item.status == "inactive")
                                a(
                                    href="javascript:;" 
                                    class="badge badge-danger"
                                    data-status= item.status 
                                    id= item.id
                                    button-change-status
                                ) inactive
                            
                        td 
                            a(class="btn btn-secondary btn-sm ml-1" href=`${prefixAdmin}/product/detail/${item.id}`) Chi tiết
                            a(class="btn btn-success btn-sm ml-1" href=`${prefixAdmin}/product/edit/${item.id}`) Sửa
                            button(
                                class="btn btn-danger btn-sm ml-1"
                                button-delete-product 
                                id= item.id
                                ) Xóa


    +pagination(objectPage)

    form(action="",
     method="POST",
     id="form-change-status"
     PATH=`${prefixAdmin}/product/change-status/`
     ) 

    
    form(action="",
     method="POST",
     id="form-delete"
     PATH=`${prefixAdmin}/product/delete/`
     ) 

    